body{
  margin: 0;
  background-color: #FFC60B;
  font-family: 'Ubuntu', sans-serif;
}

/*Heading*/
h1,p,h4{
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
}

.Title{
  background-color: black;
  color: #FFC60B;
  padding: 10px;
  text-align: center;
  font-size: 50px;
}
.container-fluid{
  padding: 60px 80px;
  width: 79%;
}
.row{
  background-color: black;
    margin: 0;

}
.NewPod{
  border: 5px solid white;
  width: 100%;
}

.col-lg-6{
  padding: 40px;
filter: opacity(5px);

}
a{
  background-color: blue;
}
.desp{
  font-size: 14px;
  color: white;
  font-weight:normal;
  margin-top: 35px;
}
h1,h4{
  color: #FFC60B;
}

.Socials{
  background-color: black;
  color: White;
  text-align: center;
}
.fb:hover,.id:hover,a:hover{
  color: #FFC60B;
}
.id{
  font-weight: 400;
  padding: 2rem 5rem;
  font-size: 16px;
}

.fab{
  padding-right: 6px;

}
a{
  background-color: black;
  color: white;
  text-decoration: none;
}
